// _variables.scss

// =============== Footer ===================== 
// Colores
$color-primario: #F480AD;
$color-texto: #0C0808;

//modo oscuro
$modo-oscuro: true;  // o false

$color-fondo-oscuro: #1A1A1A;
$color-blanco: #ffffff;

// Tipografía
$font-principal: 'Open Sans', sans-serif;

// Medidas
$padding-footer: 2rem 1rem;
$gap-footer: 2rem;

// Iconos
$hover-icono: $color-blanco;

// =============== ProductoItem =====================

// Colores generales de la marca
$color-blanco: #ffffff;
$color-negro: #000000;

// Paleta de productos
$producto-amarillo-fondo: #f8df7e;
$producto-amarillo-titulo: #3b2f0b;
$producto-amarillo-texto: #4b3b00;
$producto-amarillo-alergenos: #7C1513;
$producto-amarillo-pedido: #014370;

$producto-rosa-fondo: #A2064C;
$producto-rosa-titulo: #ffffff;
$producto-rosa-texto: #f1f1f1;
$producto-rosa-alergenos: #F8F4ED;
$producto-rosa-pedido: #DDFFDC;

$producto-marron-fondo: #7F411A;
$producto-marron-titulo: #ffffff;
$producto-marron-texto: #f5f5f5;
$producto-marron-alergenos: #FDF3D8;
$producto-marron-pedido: #000000;

$producto-verde-fondo: #c2cf70;
$producto-verde-titulo: #1f2f0a;
$producto-verde-texto: #3b4b0a;
$producto-verde-alergenos: #4B044E;
$producto-verde-pedido: #003300;

// Tipografía
$font-principal: 'Open Sans', sans-serif;

// ================= PRODUCTOS =================

$productos: (
  amarillo: (
    fondo: #f8df7e,
    titulo: #3b2f0b,
    texto: #4b3b00,
    alergenos: #7C1513,
    pedido: #014370
  ),
  rosa: (
    fondo: #A2064C,
    titulo: #ffffff,
    texto: #f1f1f1,
    alergenos: #F8F4ED,
    pedido: #DDFFDC
  ),
  marron: (
    fondo: #7F411A,
    titulo: #ffffff,
    texto: #f5f5f5,
    alergenos: #FDF3D8,
    pedido: #000000
  ),
  verde: (
    fondo: #c2cf70,
    titulo: #1f2f0a,
    texto: #3b4b0a,
    alergenos: #4B044E,
    pedido: #003300
  )
);