//@import './variables';
@use './variables' as var;


@each $nombre, $colores in var.$productos {

  .producto-#{$nombre} {
    background-color: map-get($colores, fondo);

    h3 {
      color: map-get($colores, titulo);
    }

    p {
      color: map-get($colores, texto);
    }

    .alergenos {
      color: map-get($colores, alergenos);
    }

    .pedido {
      color: map-get($colores, pedido);
    }
  }

}