/* Scrollbar global */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa8de; /* Tailwind blue-500 */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff; /* Tailwind gray-200 */
}
